input[type=file]::file-selector-button {
    margin-right: 10px;
    border: none;
    background: #084cdf;
    padding: 8px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: #0d45a5;
}

.btn {
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 8px 40px;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

.manpowerdata {
    color: blue;
    padding: 2px;
    background: -webkit-linear-gradient(rgb(219, 232, 255), rgb(1, 102, 253));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 10px;
}