h1 {
    color: #fff;
    font-size: 60px;
    font-weight: 800;
    text-align: center;
}

.hero-heading {
    margin-top: 110px;
    margin-bottom: 20px;
}
p {
    color: rgb(190, 183, 183);
    font-size: 18px;
    text-align: center;
}
.btn-prime {
    padding: 20px 30px;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-color: #144ee3;
    border-radius: 48px;
    background-color: #144ee3;
    color: #fff;
    font-size: 16px;
    line-height: 1.125em;
    font-weight: 500;
    text-align: center;
}
.btn-second {
    padding: 20px 30px;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-color: #424242;
    border-radius: 48px;
    background-color: #4d4d4d;
    color: #fff;
    font-size: 16px;
    line-height: 1.125em;
    font-weight: 500;
    text-align: center;
}
.hero-page-buttons {
    display: flex;
    align-items: center;
    grid-column-gap: 18px;
    grid-row-gap: 15px;
}

/* For MObile */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 30px;
    }
    p {
        font-size: 11px;
        text-align: center;
    }
    .hero-heading {
        margin-top: 80px;
        margin-bottom: 20px;
    }
    .btn-prime {
        padding: 20px 20px;
    }
  }