.btn {
    border-style: solid;
    border-width: 1px;
    border-color: #144ee3;
    border-radius: 48px;
    background-color: #144ee3;
    transform-style: preserve-3d;
}
.navdiv {
    background-color: #0b101b;
}
.navbar-toggler {
    background-color: rgb(255, 255, 255);
}
.dropdown-menu {
    background-color: rgb(6, 0, 34);
}
.dropdown-item:hover {
    background-color: rgb(47, 0, 255);
    animation-name: toblue;
    animation-duration: 1s;
    border-radius: 8px;
}
@keyframes toblue {
    from {background-color: rgb(6, 0, 34);}
    to {background-color: rgb(47, 0, 255);}
  }

.nav-item:hover {
    color: #144ee3;
}
.navbar-brand {
    font-size: 25px;
}